.header {
    display: block;
    height: 20vh;
}

.header img {
    height: 20vh;
    width: 15vw;
}

.search-bar {
    margin: 1rem;
    width: 100%;
    text-align:center;
}

.map-container {
    border: 1px solid red;
    height: 70vh;
    width: 70vw;
    margin-left: auto; 
    margin-right: 0;
}

.map-and-scrollbox--container {
    height: 70vh;
    width: 100vw;
    border: 1px solid blueviolet;
}
